.nav-container {
  border: 1px solid transparent;
  background-color: #eee;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}

.brand {
  display: block;
  color: #555;
  font-weight: bold;
  padding: 12px 16px;
  font-size: 18px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #555;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: black;
}

.active {
  background-color: #d4d1d1e8;
}
